
.bar-map {
  box-shadow: gray;
  border: 2px solid rgba(32, 18, 5, 1);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 57%;
  height: 80%;
  background-color: rgba(32, 18, 5, 0.7);
}

.sign_in {
  box-shadow: gray;
  color: aliceblue;
  border: 2px solid rgba(32, 18, 5, 1);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 57%;
  height: 80%;
  background-color: rgba(32, 18, 5, 0.7);
}

.btn_menu {
  position: absolute;
  top: -10px;
  left: 10px;
  height: 80px;
  width: 80px;
  border: none;
  transform: scale(0.6, 0.6);
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../assets/btn_menu.png");
}

.btn_map {
  position: absolute;
  top: -10px;
  left: 60px;
  height: 80px;
  width: 80px;
  border: none;
  transform: scale(0.6, 0.6);
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../assets/btn_map.png");
}

.btn_msg {
  position: absolute;
  top: -10px;
  left: 110px;
  height: 80px;
  width: 80px;
  border: none;
  transform: scale(0.6, 0.6);
  background-color: transparent;
  background-image: url("../assets/btn_msg.png");
}

.btn_edit {
  position: absolute;
  top: -10px;
  left: 170px;
  height: 80px;
  width: 80px;
  border: none;
  transform: scale(0.6, 0.6);
  background-color: transparent;
  background-image: url("../assets/btn_edit.png");
}

.btn_group {
  position: absolute;
  top: -10px;
  left: 230px;
  height: 80px;
  width: 80px;
  border: none;
  transform: scale(0.6, 0.6);
  background-color: transparent;
  background-image: url("../assets/btn_group.png");
}

.btn_volume {
  position: absolute;
  top: -10px;
  left: 290px;
  height: 80px;
  width: 80px;
  transform: scale(0.6, 0.6);
  border: none;
  background-color: transparent;
  background-image: url("../assets/btn_volume.png");
}

.btn_sign_in {
  position: absolute;
  top: -10px;
  left: 340px;
  height: 80px;
  width: 80px;
  transform: scale(0.6, 0.6);
  border: none;
  background-color: transparent;
  background-image: url("../assets/btn_edit.png");
}


.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sit-position {
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 8px;
  height: 50px;
  width: 50px;
  border: 2px solid #116900;
  background-color: #116900;
  border-radius: 50%;
  display: block;
  position: absolute;
}